.product{
    display: inline-block;
    border: 2px solid #0a0909;
    border-radius: 4px;
    width: 200px;
    height: 400px;
    margin: 10px;
    background-color: rgb(245, 239, 235);
    vertical-align: top;
    

}

.product img{
    width: 192px;
    
    
    
}
.product h5{
    font-size: 18px;
    color: rgb(12, 12, 12);
    letter-spacing: 1px;
    font-weight: bolder;
    text-decoration: none;
}

.product .total{
    margin-right: 12px;
}



    
